<div class="training-page-wrapper">

  <%= render "shared/header"%>

  <div class="t-menu">
    <div class="t-pack">
      <h1 class="t-title">Trainig</h1>

      <%= form_with model: @training, url:trainings_path, local: true do |f| %>
        <div class="t-part-blobk">
          <div class="t-content">
            <h4 class="t-part">腕筋</h4>
            <span class="indispensable">必須</span>
          </div>
          <div class="counter"><%= f.text_area :arm, class:"detail-counter", placeholder:"0"%>回</div>
        </div>

        <div class="t-part-blobk">
          <div class="t-content">
            <h4 class="t-part">背筋</h4>
            <span class="indispensable">必須</span>
          </div>
          <div class="counter"><%= f.text_area :spine, class:"detail-counter", placeholder:"0"%>回</div>
        </div>

        <div class="t-part-blobk">
          <div class="t-content">
            <h4 class="t-part">腹筋</h4>
            <span class="indispensable">必須</span>
          </div>
          <div class="counter"><%= f.text_area :abs, class:"detail-counter", placeholder:"0"%>回</div>
        </div>

        <div class="t-part-blobk">
          <div class="t-content">
            <h4 class="t-part">脚筋</h4>
            <span class="indispensable">必須</span>
          </div>
          <div class="counter"><%= f.text_area :leg, class:"detail-counter", placeholder:"0"%>回</div>
        </div>


        <%# 終了ボタン %>
        <div class="finish-btn-contents">
          <%= f.submit "Finish" ,class:"finish-btn" %>
        </div>
      <% end %>
    </div>
  </div>

</div>