<%= render "shared/navbar" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      My Profile
    </h2>
    <div class='item-img-content'>
      <%= image_tag current_user.image ,class:"item-box-img" %>
    </div>

    <%= link_to ' Edit', edit_user_registration_path, method: :get, class: "item-red-btn" %>

    <table class="detail-table">
      <tr>
        <th class="detail-item">ニックネーム</th>
        <td class="detail-value"><%= current_user.nickname %></td>
      </tr>
      <tr>
        <th class="detail-item"><%= link_to 'フォロー数', {controller: :users,action: :follow_list,user_id: current_user.id} %></th>
        <td class="detail-value"><%= current_user.follow_count %></td>
      </tr>
      <tr>
        <th class="detail-item"><%= link_to 'フォロワー数', {controller: :users,action: :follower_list,user_id: current_user.id} %></th>
        <td class="detail-value"><%= current_user.followers_count %></td>
      </tr>
      <tr>
        <th class="detail-item">メールアドレス</th>
        <td class="detail-value"><%= current_user.email %></td>
      </tr>
    </table>
    
    </div>
  </div>