<div class='main'>

  <div class="all-data">

  <%# 自分のデータ %>
    <div class="my-data">
      <h2 class='title'>My training data</h2>
      <% if @trainings.present? %>
        <div class="graphs">
          <div class="detail-data">
            <div class="each-data">
              <h4 class="theme">＜本日のトレーニング＞</h4>
              <%= column_chart @data%>
            </div>

            <div class="each-data">
              <h4 class="theme">＜１週間のトレーニングバランス＞</h4>
              <%= pie_chart @data %>
            </div>

            <div class="each-data">
              <h4 class="theme">＜１週間分の総回数の推移＞</h4>
              <%= line_chart @data %>
            </div>
          </div>
        </div>
        
      <% else %>
        <div class="data-nothing">
          <h1 class="lets-train">さあ、トレーニングをしましょう！</h1>
          <div class="training-btn"><%= link_to 'トレーニング', "#", class: "sign-in" %></div>
        </div>
      <% end %>
    </div>
  </div>

  <%# フレンドのデータ %>
  <div class="friends-data">
  <h2 class='title'>My friend's data</h2>
    <div class="friends-data-nothing">
      <h1 class="data-nothing">友達を登録しましょう！</h1>
      <div class="training-btn"><%= link_to 'フレンド登録', "#", class: "sign-in" %></div>
    </div>
  </div>

</div>